﻿@model Site.Models.RegisterUserModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2>Registration</h2>

@using (Html.BeginForm("Register", "Register", FormMethod.Post))
{
    //this  is for create form tag
    @Html.AntiForgeryToken()
    // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Login)</td>
            <td>@Html.TextBoxFor(a => a.Login)</td>
            <td>@Html.ValidationMessageFor(a => a.Login)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.Password)
            </td>
            <td>
                @Html.PasswordFor(a => a.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.ConfirmPassword)
            </td>
            <td>
                @Html.PasswordFor(a => a.ConfirmPassword)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.FirstName)</td>
            <td>@Html.TextBoxFor(a => a.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.LastName)</td>
            <td>@Html.TextBoxFor(a => a.LastName)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td></td>
        </tr>
    </table>
}

@* This below line is for create javascript section *@

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}