﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div id="content-container" style="width: 800px; position: absolute; left: 50%; margin-left: -400px;">
            <div style="width: auto; background-color: #fff; float: right;">
                    @Html.ActionLink("Register", "Register", "User")
            </div>

            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
