﻿@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2>title HOME - Index</h2>

<table>
    <tr>
        <td>
            <div class="col-lg-2 pull-right">
                @using (Html.BeginForm("Index", "User", FormMethod.Get))
                {
                    <button type="submit">Not Answered Quiz List</button>
                }
            </div>
        </td>
        <td>
            <div class="col-lg-2 pull-right">
                @using (Html.BeginForm("Index", "Statistic", FormMethod.Get))
                {
                    <button type="submit">Statistic By Quiz</button>
                }
            </div>
        </td>
@if ((bool)Session["IsAdmin"])
{
    <td>
        <div class="col-lg-2 pull-right">
            @using (Html.BeginForm("Create", "Quiz", FormMethod.Get))
            {
                <button type="submit">Statistic By Quiz</button>
            }
        </div>
    </td>
}
    </tr>
</table>